<!DOCTYPE html>
<html lang="en">
<head>
    <!--ICON-->

    <!--CSS styles sheets-->
    <link rel="stylesheet" href="../Statics/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Statics/css/main.css">
    <!--Home Page-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a id="titulo"class="navbar-brand mx-auto" href="#">CSS</a>
    </nav>
    
    <!--Card-->
    <div class="container" id="animations">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- Animación 1 -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img1" src="https://i.pinimg.com/originals/07/90/ab/0790ab2e4e0e578223367ac5e7bbe19d.jpg" alt="Gatos">
                <div class="card-body">
                    <p class="card-text">Animación de girar al gato de GitHub</p>
                </div>
                <button class="btn btn-primary" id="modcss1" type="submit" style="margin-bottom: 16px">Girar</button>
            </div>
            <!-- Animación 2 -->
            <div class="card img2" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/07/90/ab/0790ab2e4e0e578223367ac5e7bbe19d.jpg" alt="Gatos">
                <div class="card-body">
                    <p class="card-text">Animación de girar al gato de GitHub</p>
                </div>
                <button class="btn btn-primary" id="modcss2" type="submit" style="margin-bottom: 16px">Cambiar img (No se pudo :()</button>
            </div>
            <!-- Animación 3 -->
            <div class="card img3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/07/90/ab/0790ab2e4e0e578223367ac5e7bbe19d.jpg" alt="Gatos">
                <div class="card-body">
                    <p class="card-text">Animación de girar al gato de GitHub</p>
                </div>
                <button class="btn btn-primary" id="modcss3" type="submit" style="margin-bottom: 16px">Mover</button>
            </div>
            <!-- Animación 4 -->
            <div class="card img4" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/07/90/ab/0790ab2e4e0e578223367ac5e7bbe19d.jpg" alt="Gatos">
                <div class="card-body">
                    <p class="card-text">Animación de girar al gato de GitHub</p>
                </div>
                <button class="btn btn-primary" id="modcss4" type="submit" style="margin-bottom: 16px">Chiquito</button>
            </div>
            <!-- Animación 5 -->
            <div class="card img5" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/07/90/ab/0790ab2e4e0e578223367ac5e7bbe19d.jpg" alt="Gatos">
                <div class="card-body">
                    <p class="card-text">Animación de girar al gato de GitHub</p>
                </div>
                <button class="btn btn-primary" id="modcss5" type="submit" style="margin-bottom: 16px">Eliminar</button>
            </div>
            <!-- Animación 6 -->
            <div class="card img6" style="width: 18rem;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/07/90/ab/0790ab2e4e0e578223367ac5e7bbe19d.jpg" alt="Gatos">
                <div class="card-body">
                    <p class="card-text">Animación de girar al gato de GitHub</p>
                </div>
                <button class="btn btn-primary" id="modcss6" type="submit" style="margin-bottom: 16px">Agrandar</button>
            </div>
        </div>
    </div>
    
    <!--JS scripts-->
    <script src="../Statics/bootstrap/js/bootstrap.js"></script>
    <script src="../Dynamics/index.js"></script>
    
</body>
</html>